main {
    /* background-image: url('/10-classe/dinamica/ForcaTensaoCordas&&LeisNewton/assets/night_sky.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-color: rgb(177, 248, 224);
    background-color: black;
    color: white; */
}

.orbit {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 200px;
      height: 200px;
      margin-top: -100px;
      margin-left: -100px;
      border: 2px solid #ccc;
      border-radius: 50%;

      transform: rotate(-180deg);
  }

  .radius-fixed {
      position: absolute;
      top: 100px;
      right: 95.8px;
      width: 1px;
      height: 100px;
      background-color: rgb(213, 19, 19);
  }

  .radius-letter {
      transform: rotate(90deg);
      font-size: 1.5rem;

      position: inherit;
      top: 40%;
      left: 8px;
  }

  .trajectory {
      position: absolute;
      left: 100px;
      width: 1px;
      height: 104px;
      background-color: rgb(22, 36, 113);
      transform-origin: top center;
  }

  .earth {
      background-image: url('/10-classe/dinamica/ForcaTensaoCordas&&LeisNewton/assets/earth.png');
      background-size: contain;
      width: 50px;
      height: 50px;
      border-radius: 20px;

      position: absolute;
      left: 75px;
      top: 75px;
  }

  .sattelite {
      background-image: url('/10-classe/dinamica/ForcaTensaoCordas&&LeisNewton/assets/sattelite.png');
      background-size: contain;
      width: 45px;
      height: 45px;
      border-radius: 20px;

      position: absolute;
      left: -20px;
      bottom: -20px;

      transform: rotateZ(-130deg);
  }

  .velocity-stick {
      background-color: red;
      width: 80px;
      height: 1px;

      position: absolute;
      top: -10px;
      right: -48px;

      transform: rotateZ(132deg);
  }
.forward-velocity {
    transform: rotate(180deg);
    left: -4px;
}
  .velocity-stick .letter {
      position: inherit;
      top: 10px;
  }

  .velocity-stick .letter .forward-letter {
      position: absolute;
      right: -3px;
  }

  .letter {
      transform: rotateZ(180deg);

      position: absolute;
      right: 50%;
  }
  
.graphic {
    width: 600px;
    height: 200px;
    margin-top: 10px;
}