main {
    background-image: url('/10-classe/dinamica/ForcaTensaoCordas&&LeisNewton/assets/road.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.car {
    background-image: url('/10-classe/dinamica/ForcaTensaoCordas&&LeisNewton/assets/car.png');
    background-size: contain;
    width: 150px;
    height: 150px;

    position: absolute;
    bottom: 20px;
}

.velocity-stick {
    width: 100px;
    height: 2px;

    background-color: blue;

    position: absolute;
    top: -10px;
}

